<div class="container my-3", style="height: 600px;">

  <div class="row">
    <h1 class="bg-secondary p-2 text-white rounded-pill">Game レビュー</h1>
  </div>
  
  <p class="my-5 font-weight-bold">
    このサイトは、<br>
    欲しいゲームがある人や、やったゲームがどれだけの面白さだったかを<br>
    共有したい人のためのゲームレビューサイトです。<br>
  </p>

  <p class="font-weight-bold">
    会員登録,ログインをしていただくと、いいね一覧が使えるため<br>
    他の評価に埋もれることなく投稿されたレビューを見ていただけます。<br>
  </p>

  <div class= "p-2 my-5 border border-danger text-danger w-75">
    <h3>注意</h3>
    <p>
      ・レビューの投稿には会員登録、ゲストログインをしていただく必要がございます。<br>
      ・管理者から予告なく、不適切なレビューを消させていただく場合がございます。<br>
      ・管理者から予告なく、アカウントを停止させていただく場合がございます。
    </p>
  </div>


</div>
