<div class="container">

  <h1>GEMEレビュー</h1>
  <p>
    このサイトは、<br>
    欲しいゲームがある人や、やったゲームがどれだけの面白さだったかを<br>
    共有したい人のためのゲームレビューサイトです。<br>
  </p>

  <p>
    会員登録していただくと、いいね一覧が使えるため<br>
    他の評価に埋もれることなく投稿されたレビューを見ていただけます。<br>
  </p>


</div>
