<div class="container">
  <h1>レビュー投稿</h1>

  <%= form_with model: @review, url: reviews_new_path, method: :post  do |f| %>
    <div>
      ゲームタイトル<br>
      <%= f.text_field :game_title %>
    </div>
  
    <div>
    評価
    </div>
    
    <div>
      レビュータイトル<br>
      <%= f.text_field :review_title %>
    </div>
    
    <div>
      レビュー内容<br>
      <%= f.text_field :review %>
    </div>
    
    <div>
      ゲームジャンル
    </div>
  <% end %>
</div>
